@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(3px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.animation-fade-in-delay {
  animation: fade-in 0.3s ease-out 0.2s;
  animation-fill-mode: backwards;
}

.spinner {
  display: inline-block;
  width: 1em; /* Adjust size as needed */
  height: 1em; /* Adjust size as needed */
  border: 0.2em solid currentColor; /* Base color */
  border-right-color: transparent; /* Color that "spins" */
  border-radius: 50%;
  animation: spin 0.6s linear infinite; /* Apply the animation */
  vertical-align: middle;
  margin-left: 0.5em;
}

/* Keyframe animation for spinning */
@keyframes spin {
  to {
    transform: rotate(1turn); /* Rotates 360 degrees */
  }
}

/* Class to hide the spinner */
.hidden {
  display: none;
}